@{
    ViewBag.Title = "Blue Essence Calculator";
}
<div class="jumbotron">
    <h1><img src="~/Images/essence.png" style="width:200px;height:200px;" />Blue Essence Calculator</h1>
    <p class="lead">A free and easy to use tool to calculate how much blue essence you will get at the end of the season</p>
    <p><a href="https://www.youtube.com/watch?v=Yq2i6RDmbNc" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<form action="/Home/Index" method="post" id="mainForm" name="mainForm">
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-primary">Influence Points</h2>
            <img src="~/Images/LoL-smurf-IP.png" style="width:200px;height:200px;padding-bottom:10px" />
            @Html.TextBox("IP", 0, new { @class= "form-control", @type = "number" })
            @Html.ValidationMessage("IP")
            <br /><br />
            <p><a class="btn btn-default" href="http://leagueoflegends.wikia.com/wiki/Influence_Points" target="_blank">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2 class="text-primary">Tier 3 Quintessences</h2>
            <img src="~/Images/rune.png" style="width:200px;height:200px;padding-bottom:10px" class="img-responsive img-circle" />
            @Html.TextBox("Rune", 0, new { @class= "form-control", @type = "number" })
            @Html.ValidationMessage("Rune")
            <br /><br />
            <p><a class="btn btn-default" href="http://leagueoflegends.wikia.com/wiki/Runes">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2 class="text-primary">Rune Pages</h2>
            <img src="~/Images/runepage.jpg" style="width:200px;height:200px;padding-bottom:10px" class="img-responsive img-circle" />
            @Html.TextBox("Runepage", 0, new { @class= "form-control", @type = "number" })
            @Html.ValidationMessage("Runepage")
            <br /><br />
            <p><a class="btn btn-default" href="http://leagueoflegends.wikia.com/wiki/Runebook">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-primary">Blue Essence</h2>
            <img src="~/Images/essence.png" style="width:200px;height:200px;padding-bottom:10px" class="img-responsive img-circle" />
            @Html.TextBox("Essence", 0, new { @class= "form-control", @type = "number" })
            @Html.ValidationMessage("Essence")
            <br /><br />
            <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=Yq2i6RDmbNc" target="_blank">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2 class="text-primary">Tier 3 Gylphs & Seals</h2>
            <img src="~/Images/gylph.png" style="width:200px;height:200px;padding-bottom:10px" class="img-responsive img-circle" />
            @Html.TextBox("Earnings", 0, new { @class= "form-control", @type = "number" })
            @Html.ValidationMessage("Earnings")
            <br /><br />
            <p><a class="btn btn-default" href="http://leagueoflegends.wikia.com/wiki/Runes">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2 class="text-primary">Total Blue Essence</h2>
            <img src="~/Images/iptoblue.jpg" style="width:200px;height:200px;padding-bottom:10px" class="img-responsive img-circle" />
            <br /><br />
            <div id="totalContent"></div>
            @if (@TempData["Total"] != null)
            {
                <h3 class='text-primary' id='totalEssence'>You will get<strong> @TempData["Total"] </strong> blue essence and <strong> @TempData["Skins"] </strong> Epic Skin/s</h3>
                <script>
                    location.href = "#totalEssence";
                </script>
            }
            <input id="submit" type="submit" value="Calculate" class="btn btn-primary btn-lg" />
        </div>
    </div>
</form>
@if (@TempData["Error"] != null)
{
        <script>location.href = "#mainForm";</script>
}
<div id="disqus_thread"></div>
<script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    
    var disqus_config = function () {
    this.page.url = "http://blueessence.azurewebsites.net/";
    this.page.identifier = "essenceIndex";
    };
    
    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://EXAMPLE.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
